/* ---------------------------- Main do Form */
.titulosForm {
  width: 100%;
  text-align: center;
  padding: 0.5rem;
  margin: .5rem 0;
  border: solid 1px #054f77;
  border-radius: 5px;
}
.principalForm form > fieldset {
  display: flex;
  width: 100%;
}
.principalForm form > fieldset > label {
  padding: 0.5rem;
  line-height: 2rem;
  width: 100%;
}
.principalForm form > fieldset > label > input {
  box-shadow: 0px 0px 5px 0px rgba(100, 100, 100, 0.75);
  padding-left: 0.5rem;
  border-radius: 5px;
  height: 2.5rem;
  width: 100%;
}
.principalForm form > fieldset > button {
  line-height: 2rem;
  cursor: pointer;
  border-radius: 5px;
}

/* ---------------------------- fieldsetInformacoes */

/* ---------------------------- fieldsetLista */
.fieldsetLista {
  flex-direction: column;
}
.fieldsetLista input {
  margin-bottom: 10px;
}
.fieldsetLista button {
  background-color: #054f77;
  color: #f0f0f0;
  padding: 0 1rem;
  margin: 0.5rem auto;
  margin-bottom: 1rem;
}

/* ---------------------------- fieldsetBotoes */
.fieldsetBotoes {
  justify-content: space-around;
  gap: 40px;
  margin: 2rem 0;
  padding: 10px;
}
.fieldsetBotoes button {
  padding: 0.3rem;
  width: 30%;
  font-weight: 700;
  transition: .5s;
}
.fieldsetBotoes button:hover {
  transform: scale(1.1);
}
.botaoLimpar {
  border: solid 1px #d12c38;
  color: #d12c38;
}
.botaoSalvar {
  background-color: #23cf5c;
  border: solid 1px #23cf5c;
  color: #f0f0f0;
}

/* ---------------------------- Mobile */

@media (max-width: 768px) {
  .principalForm form {
    gap: 10px;
  }
  .fieldsetInformacoes {
    flex-direction: column;
  }
}
