/* ---------------------------- Main do Index e do About*/
.prinicipalIndex,
.prinicipalAbout {
  gap: 1rem;
  text-align: justify;
  margin-bottom: 3rem;
}
.prinicipalIndex .titulo,
.prinicipalAbout .tituloExemplo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: .5rem 0;
  border-radius: 5px;
  background-image: url("../img/bannerIndex.jpg");
  background-color: #91daed;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}
/* ---------------------------- Detalhes do Index*/
.prinicipalIndex .titulo{
  height: 300px;
}
.prinicipalIndex p {
  text-indent: 1rem;
}
.prinicipalIndex p > a{
  color: #054f77;
  font-weight: 700;
}

/* ---------------------------- Detalhes do About*/
.quote{
  color: #054f77;
  text-align: center;
}
.prinicipalAbout ol,
.prinicipalAbout ul {
  padding-left: 1rem;
}
.prinicipalAbout ol > li {
  list-style: decimal;
  margin-bottom: .5rem;
}
.prinicipalAbout ul > li {
  list-style: circle;
}
.prinicipalAbout li > h4 {
  margin-top: .5rem;
  line-height: 1.5rem;
}
.tituloExemplo {
  height: 70px;
}

/* ---------------------------- Mobile */

@media (max-width: 768px) {
  .prinicipalIndex .titulo {
    align-items: end;
    justify-content: start;
    height: 70px;
    padding-left: 1rem;
  }
}
